


@import url(https://fonts.googleapis.com/css?family=Exo+2:200&subset=latin,cyrillic);
body {
	color: #000000;
	text-shadow: #a8a8a8 0 0 1px; 
	font-size: 16px;
	font-family: 'Exo 2', sans-serif;
	width: 100% auto;
	max-width: 1280px;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
*::-webkit-input-placeholder {
	color: #transparent;
	opacity: 1;
}
*:-moz-placeholder {
	color: #transparent;
	opacity: 1;
}
*::-moz-placeholder {
	color: #transparent;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #transparent;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
img {
   max-width: 100%;
   height: auto!important;
   width: auto\9; /* ie8 */
}
.header h2{
	margin-top: 3px;
}


.jumbotron .panel{
	font-family: 'Exo 2', sans-serif;
	margin-top: -50px;
	color: #ffffff;
	background-color: rgba(127, 127, 127, 0.2);
	
}
.tel{
	font-size: 30px;
}
.inform{

	
	font-size: 33px;
	line-height: 1.2;
}


